html{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 62.5%;
}

body{
    font-family: 'Noto Sans JP', sans-serif;
    background-color: #FFE0B2;
}

/* colors to import begin*/

$colors: (
    black: #000000
    white: #ffffff
    orange-50: #FFF3E0
    orange-100:#FFE0B2
    orange-200:#FFCC80
    orange-300:#FFB74D
    orange-400:#FFA726
    orange-500:#FF9800
    orange-600:#FB8C00
    orange-700:#F57C00
    orange-800:#EF6C00
    orange-900:#E65100
    amber-50: #FFF8E1
    amber-100:#FFECB3
    amber-200:#FFE082
    amber-300:#FFD54F
    amber-400:#FFCA28
    amber-500:#FFC107
    amber-600:#FFB300
    amber-700:#FFA000
    amber-800:#FF8F00
    amber-900:#FF6F00
);

/*colors to import end*/

@function color($color-name){
    @return map-get($colors, $color-name);
}

.button{
  border: 2px solid #F57F17;
  background-image: linear-gradient(
    to bottom,
    #FFB74D,
    #FFCC80
  );
  width: 100%;
  height: 100%;
  font-size: 4rem;
  font-family: 'Noto Sans JP', sans-serif;
}

.button:hover{
    background-image: linear-gradient(
        to bottom,
        #FFCC80,
        #FFB74D
      );
}

.header{
    background-image: linear-gradient(
      to bottom,
      #FF9800,
      #FFA726
    );
    text-align: center;
    height: 21vh;
    border: 3px solid #F57F17;
}

.header-title{
    padding-top: 0.8rem;
    font-size: 7rem;
    line-height: 10%;
    font-weight: bold;
}

.header-subtitle{
    font-size: 1.5rem;
    line-height: 0%;
}

.about{
    display: flex;
    width: 150rem;
    margin-left: auto;
    margin-right: auto;
    height: 47vh;
    margin-top: 5rem;
}

.about > section{
    flex-grow: 1;
    height: 20vh;
    width: 20vw;
    padding: 5px;
}

.about-text{
    font-size: 2rem;
    text-align: justify;
    text-justify: inter-word;
    justify-content: center;
    margin-right: 5rem;
}

.about-buttons{
    margin-left: 5rem;
    display: flex;
}

.about-buttons-all{
    margin-bottom: 1.5rem;
}

.about-buttons-post{
    margin-top: 1.5rem;
}

.trending-text{
    text-align: center;
    font-size: 4rem;    
}   

.trending-images{
    display: flex;
    justify-content: space-around;
    margin: 5rem;
    margin-left: 10rem;
    margin-right: 10rem;
    margin-bottom: 15rem;
}

.trending-images > img{
    height: 35vh;
}

.top-text{
    text-align: center;
    font-size: 4rem;    
}   

.top-images{
    display: flex;
    justify-content: space-around;
    margin: 5rem;
    margin-left: 10rem;
    margin-right: 10rem;
    margin-bottom: 15rem;
}

.top-images > img{
    height: 35vh;
}

.new-text{
    text-align: center;
    font-size: 4rem;    
}   

.new-images{
    display: flex;
    justify-content: space-around;
    margin: 5rem;
    margin-left: 10rem;
    margin-right: 10rem;
}

.new-images > img{
    height: 35vh;
}
