html{
    font-size: 62.5%;
}

body{
    font-family: 'Noto Sans JP', sans-serif;
    background-color: rgba(255, 190, 79, 1);
}

.header{
    background-image: linear-gradient(
      to bottom,
    rgba(249, 144, 53, 1),
    rgba(249, 147, 94, 1)
    );
    text-align: center;
    height: 15vh;
    border: 3px solid black;

}

.header-title{
    padding-top: 0.8rem;
    font-size: 5rem;
    line-height: 10%;
    font-weight: bold;
}

.header-subtitle{
    font-size: 1.5rem;
    line-height: 0%;
}

.trending-images{
    display: flex;
    justify-content: space-around;
    margin: 5rem;
    margin-left: 10rem;
    margin-right: 10rem;
}

.trending-images > img{
    height: 35vh;
}
